-Xms512m
-Xmx512m
-XX:+UseParNewGC
-XX:+UseConcMarkSweepGC
-XX:+PrintGC
-XX:CMSInitiatingOccupancyFraction=50
-XX:CMSMaxAbortablePrecleanTime=500
-XX:+PrintGCDateStamps
-XX:+PrintGCDetails
-XX:+PrintGCTimeStamps
-Xloggc:logs/gc_data-%t.log
-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=logs/dump-data